<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Questions 2012 Report</title>
  <%= javascript_include_tag "libs/jquery/jquery-min" %>
  <%= javascript_include_tag "libs/utils/jsonreport" %>
  <%= javascript_include_tag "report_application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>

</head>
<body>
<div id="viewporter">
  <div class="jsonreport"></div>

</div>
</body>
</html>