<!DOCTYPE HTML>
<html>
<head>
  <title>LFG IT Forum 2012</title>
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>

  <link rel="apple-touch-icon" href="/assets/linc.jpg"/>

  <script language="JavaScript">
    var debugging = false;
    if (typeof console == "undefined") var console = { log: function() {} };
    else if (!debugging || typeof console.log == "undefined") console.log = function() {};
  </script>
  
  
  <%= requirejs_include_tag "agenda_app" %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "agenda" %>
  

</head>

<body>

<div id="header" class="header">

  <span class="appBar">
    <span class="appLogo"><img src="/assets/linc.jpg"></span>
    <span class="appTitle">IT Leadership Forum</span>
  </span>

  <span class="appMenu" style="float: right;position: relative; padding-top: 8px">
   <span class="appMenuButton" id="agendaButton">
     <i class="icon-calendar"></i>
     <!--<span>Agenda</span>-->
   </span>
    <span class="appMenuButton" id="speakersButton">
         <i class="icon-user"></i>
      <!--<span>Speakers</span>-->
    </span>
    <span class="appMenuButton" id="postQuestionButton">
         <i class="icon-comment"></i>
      <!--<span>Speakers</span>-->
    </span>
  </span>
</div>

<div id="header2">
  <div class="toolbar">

    <div class="btn-group">
      <a class="btn dateFilter" data-date="03-12">Mon 3/12</a>
      <a class="btn dateFilter" data-date="03-13">Tue 3/13</a>
      <a class="btn dateFilter" data-date="03-14">Wed 3/14</a>
    </div>
  </div>
</div>

  <div id="wrapper">
    <ul id="agendaList" class="agenda-icon-list">
      <!--    <li>
        <div class="row">

          <div class="span6">
            test1
          </div>
          <div class="span2 offset4" style="background-color: red">
            <div>
              1:00 p.m. – 1:30 p.m
            </div>
            <div style="">
              Grandville Ballroom, 1st Floor (Room C&D)
            </div>
          </div>
        </div>

      </li>-->


    </ul>
  </div>

<div id="busy"/>
Loading...</div>


</body>

</html>