<form class="well" style="min-height: 100em">
    <select style="width:98%">
        <option value="panel1">test1</option>
        <option value="panel2">test2</option>
    </select>
    <textarea class="input" id="questionDesc" rows="8" style="width:98%"
              placeholder="Compose question..."></textarea>

    <div>
        <button type="button" class="btn" style="width: 49.5%" id="cancelNewQuestion">Cancel</button>
        <button type="button" class="btn" style="width: 49.5%" id="postNewQuestion">Submit</button>
    </div>
</form>