<form class="well">
    <select style="width:98%" id="questionPanelType">
        <option value="0">Select Panel</option>
        <option value="Business Leader Panel">Business Leader Panel</option>
        <option value="IT VP Panel">IT VP Panel</option>
    </select>
    <textarea class="input" id="questionDesc" rows="8" style="width:98%"
              placeholder="Compose question..."></textarea>

    <div>
        <button type="button" class="btn" style="width: 49.5%" id="cancelNewQuestion">Cancel</button>
        <button type="button" class="btn" style="width: 49.5%" id="postNewQuestion">Submit</button>
    </div>
</form>