<div class="question">
    <div class="row-fluid message">
        <div class="span8">{{ model.desc }}</div>
        {{# if isAdmin}}
            <div class="span2">
                <span>Panel: </span>
                <span  style="color: blue;">{{ model.panel }}</span>
            </div>
        {{/if}}
        <div class="span2">
            {{# if isAdmin}}
                <div class="moderate_panel">
                    <button class="btn approve">Approve</button>
                    <button class="btn decline">Decline</button>

                </div>
            {{/if}}
        </div>
        <div>{{ model.lapsedTime }}</div>
    </div>
    <hr>
</div>