<div class="question note rounded" style="display: none">
    <div class="row-fluid message">
        <div class="span8">{{ model.desc }}</div>
        {{# if isAdmin}}
            <div class="span2">
                <span>Panel: </span>
                <span  style="color: blue;">{{ model.panel }}</span>
            </div>
        {{/if}}
        <div class="span2">
            {{# if isAdmin}}
                <div class="moderate_panel">
                    <button class="btn approve">Approve</button>
                    <button class="btn decline">Decline</button>

                </div>
            {{/if}}
        </div>
    </div>
    <hr>
    <div class="row-fluid postedat">
        <span>Posted </span>
        <time class="timeago" datetime="{{ model.created_at }}">{{ model.created_at }}</time>
    </div>

</div>