<div class="sessionDetail">
    <div class="sessionSpeaker">
        <div class="well" style="margin: 0px auto; width: 90%;margin-bottom: 10px; margin-top: 10px; padding: 10px">
        <h4>{{speaker.name}}</h4>
        <div class="row-fluid">
            <div class="speakerPic span2"><img src="/assets/speakers/{{speaker.pic_file_name}}" alt=""></div>

            <div class="span9">

                <div class="row-fluid">
                    <div class="speakerTitle span12">{{speaker.title}}</div>
                </div>
            </div>
            <div class="row_detail span1">
                <i class="icon-chevron-right"
                   style="background-image: url(/assets/glyphicons-halflings.png) !important;"></i>
            </div>
        </div>
    </div>
        </div>

    <div class="well" style="margin: 0px auto; width: 90%;margin-bottom: 10px; padding: 10px">
        <h4>{{name}}</h4>
        {{{desc}}}</div>

    <div class="well" style="margin: 0px auto; width: 90%;margin-bottom: 10px; padding: 10px">
    <h4>Location</h4>
    <div><i class="icon-map-marker"
                       style="background-image: url(/assets/glyphicons-halflings.png) !important;"></i> {{{location}}}</div>
         </div>
</div>